<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flash Messages</title>
</head>
<body>
    <h1> this is sample for display flash messages</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{category}}">
                        {{message}}
                    </li>
                {% endfor%}

            </ul>
        {% endif %}  
    {% endwith%}


<a href="{{url_for('success')}}"> Trigger Success Message</a>
<br>
<a href="{{url_for('error')}}"> Trigger Error Message</a>

</body>
</html>